* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --color-sky: #23a6f0;
  --color-bg1: #8ec2f2;
  --color-bg2: #252b42;
}
h2 {
    font-size: 40px;
}

body:has(#hamburger-toggle:checked) {
    .modal-wrapper {
      display: flex;
    }
  }

.navbar {
      input {
        &.modal {
          & + label {
            background-repeat: no-repeat;
            background-image: url("./assets/svg/menu.svg");
          }
        }
      }

      .custom-toggler {
        border: none;
        background-color: transparent;
        width: 50px;
        height: 40px;
      }
      .square-btn {
        border: none;
        border-radius: 5px;
        background-color: var(--color-sky);
        color: white;
        padding: 15px 25px;
        margin-left: 25px;
        width:255px;
      }
}
.navbar-top{
  background-color:var(--color-bg2);
}
.modal-wrapper {
  display:none;
  background-color: rgba(37, 43, 66,.6);
}

.hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(255, 255, 255, 0)
    ),
    url("./assets/jpg/hero.jpg");
  background-position: top right 40%;
  margin: 0 auto;
  height: 670px;
  display: flex;
  align-items: center;
}
.hero-btn {
  border: none;
  border-radius: 37px;
  background-color: var(--color-sky);
  color: white;
  padding: 15px 36px;
  font-size: 14px;
  margin-right: 10px;
}
.hero-btn-outline {
  border-radius: 37px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 15px 36px;
  font-size: 14px;
  margin-right: 10px;
}

.container1 {
  background-color: var(--color-bg2);
  padding: 96px 0;
}
.container2 {
  background-color: var(--color-bg1);
  padding: 112px 0;
}

@media (min-width: 992px) {
  .navbar {
    background-color: rbba(0,0,0,.2);
  }
  .nav-link {
    margin-right: 25px;
  }
  .navbar-top{
    background-color: transparent;
  }
  .modal-wrapper {
      display:none;
      background-color: transparent;
  }
}
